{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Topics" %}
{% endblock title %}
{% block meta_desc %}
    {% trans "Explore a vast collection of quotes organized by topic, featuring words of wisdom from renowned authors, historical figures, and everyday people." %}
{% endblock meta_desc %}

{% block base_content %}


<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    {% for each in data.items %}
    <ul class="list list-flush">
        {{each.0| title}}
        {% for title,url in each.1.items %}
        <li class="list-item"><a href="{{url}}/">{{title|title}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>  

{% for i in paginator %}
{{i}}
{% endfor %}
{% endblock base_content %}