{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Topics" %}{% endblock title %}

{% block meta_desc %}{% trans "Explore a vast collection of quotes organized by topic, featuring words of wisdom from renowned authors, historical figures, and everyday people." %}{% endblock meta_desc %}

{% block base_content %}



<div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    {% for each in data.items %}
    <ul class="list list-flush">
        <div class="text-center md:text-left font-semibold">{{each.0| title}}</div>
        {% for title,url in each.1.items %}
        <li class="list-item md:p-2"><a href="{{url}}/">{{title|title}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>  

{% endblock base_content %}