{% extends "topics/index.html" %}
{% comment %} {% load i18n %} {% endcomment %}

{% block title %}{{object_list.0.topics__topic | title}} Quotes{% endblock title %}

{% block meta_desc %}Immerse yourself in the beauty of words that capture the essence of {{object_list.0.topics__topic | title}}, offering moments of reflection and motivation{% endblock meta_desc %}

{% block base_content %}
    <div class="grid grid-cols-1 gap-3 md:grid-cols-3">
        {% for each in object_list %}
        <a class="card" href="{% url "Quote_detail" quote_url=each.quote_id %}">
            <div class="card-body">
                <p>{{each.quote}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
  

{% endblock base_content %}