{% extends "authors/index.html" %}
{% load i18n %}

{% block title %}{% blocktranslate %}Quotes by {{author_name}}{% endblocktranslate %}{% endblock title %}

{% block meta_desc %}{% blocktranslate %}Discover the essence of {{author_name}}'s philospohy and insights through a curated selection of memorable quotes.{% endblocktranslate %}{% endblock meta_desc %}

{% block base_content %}

<div class="grid grid-cols-1 gap-3 md:grid-cols-3">
        
    {% for each in all_quotes %}
        <a class="card" href="{% url "Quote_detail" quote_url=each.1 %}">
            <div class="card-body">
                <p>{{each.0}}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock base_content %}