{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Authors" %}
{% endblock title %}

{% block meta_desc %}
    {% trans "Delve into the minds of literary giants and discover timeless quotes that resonate with the human experience." %}
{% endblock meta_desc %}
{% block base_content %}


<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    {% for each in data.items %}
    <ul class="list list-flush">
        <div class="">{{each.0|title}} {% trans "Authors" %}</div>
        {% for title,url in each.1.items %}
        <li class="list-item"><a href="{{url}}/">{{title|title}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>  

{% for i in paginator %}
{{i}}
{% endfor %}
{% endblock base_content %}