{% load i18n %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Homepage{% endblock title %}</title>
    {% tailwind_css %}
    <script defer src="{% static "js/main.js" %}"></script>
    <meta name="description" content="{% block meta_desc %}{% endblock meta_desc %}">
    {% for lang in LANGUAGES %}
    <link rel="alternate" hreflang="{{ lang.0 }}" href="#"/>
    {% endfor %}
    
</head>
<body>
    {% include "layout/header.html" %}
    <main class="max-w-7xl mx-auto mt-10 mb-20 px-3 md:px-1">
        {% block base_content %}{% endblock base_content %}
    </main>
    {% include "layout/footer.html" %}
</body>
</html>