{% comment %} {% load i18n %}
{% load localeurl %} {% endcomment %}
{% load static tailwind_tags %}
{% comment %} {% get_available_languages as LANGUAGES %}
{% get_current_language as current_language %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Homepage{% endblock title %} | {{SITE_NAME}}</title>
    {% tailwind_css %}
    <script defer src="{% static "js/main.js" %}"></script>
    {% block custom_css_js %}{% endblock custom_css_js %}
    <meta name="description" content="{% block meta_desc %}{% endblock meta_desc %}">

    {% comment %} {% for lang in LANGUAGES %}
    <link rel="alternate" hreflang="{{ lang.0 }}" href="{% translateURL request.path lang.0 %}"/>
    {% endfor %} {% endcomment %}
    
</head>
<body>
    {% include "layout/header.html" %}
    <main class="max-w-7xl mx-auto mt-10 mb-20 px-3 md:px-1">
        {% block base_content %}{% endblock base_content %}
    </main>
    {% include "layout/footer.html" %}
</body>
</html>