{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Discover Inspirational Quotes" %}{% endblock title %}
{% block meta_desc %}{% trans "Explore profound insights and timeless wisdom through our curated collection of quotes from renowned personalities worldwide." %}{% endblock meta_desc %}
{% block custom_css_js %}<script defer src="{% static "js/htmx.js" %}"></script>{% endblock custom_css_js %}
{% block base_content %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="">
    <div class="mb-6 rounded-md p-3 md:max-w-3xl text-center self-center">
      {% comment %} <input class="mt-0 text-xl form-input rounded-2xl" placeholder="Search..."> {% endcomment %}
      <script async src="https://cse.google.com/cse.js?cx=81d78d0c79b38445f">
      </script>
      <div class="gcse-search"></div>
    </div>
        



    <a target="_blank" rel="noopener" href="//x.com/intent/post?url=https://quotes.kirmola.dev&text=Read+The+Awesome+Quotes+by+Famous+Authors. +@kirmolaa's+QuotesApp" class="md:w-36 md:my-1 md:mx-1 rounded-full btn-lg btn btn-icon btn-twitter"><svg width="24" height="24" viewBox="0 0 300 271" xmlns="http://www.w3.org/2000/svg">
      <path d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"/>
    </svg>
    </a>
    <a target="_blank" rel="noopener" href="" class="md:w-36 md:my-1 md:mx-1 rounded-full btn-lg btn btn-icon btn-instagram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></a>
    <a target="_blank" rel="noopener" href="" class="md:w-36 md:my-1 md:mx-1 rounded-full btn-lg btn btn-icon btn-facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></a>
    <a target="_blank" rel="noopener" href="https://www.google.com/search?q=QuotesApp+Kirmola+site:kirmola.dev" class="md:w-36 md:my-1 md:mx-1 rounded-full btn-lg btn btn-icon btn-google"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.283,10.356h-8.327v3.451h4.792c-0.446,2.193-2.313,3.453-4.792,3.453c-2.923,0-5.279-2.356-5.279-5.28	c0-2.923,2.356-5.279,5.279-5.279c1.259,0,2.397,0.447,3.29,1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233	c-4.954,0-8.934,3.979-8.934,8.934c0,4.955,3.979,8.934,8.934,8.934c4.467,0,8.529-3.249,8.529-8.934	C20.485,11.453,20.404,10.884,20.283,10.356z"/></svg></a>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <ul class="list">
      {% for each in object_list.0 %}
      <a class="list-item" href="{% url "Author_detail" author_name=each.author_slug %}">{{each.author|title}}</a>
      {% endfor %}
      <a class="btn btn-primary" href="{% url "authors" %}">More Authors</a>
    </ul>
    <ul class="list">
      {% for each in object_list.1 %}
      <a class="list-item" href="{% url "Topic_detail" topic_name=each.topic_slug %}">{{each.topic|title}}</a>
      {% endfor %}
      <a class="btn btn-primary" href="{% url "topics" %}">More Topics</a>
    </ul>
  </div>
</div>
{% endblock base_content %}