{% extends "base.html" %}
{% comment %} {% load i18n %} {% endcomment %}
{% load static %}
{% block title %}Featured Quote{% endblock title %}

{% block custom_css_js %}

<script src="{% static "js/fancybox.umd.js" %}"></script>

<link rel="stylesheet" href="{% static "css/fancybox.css" %}"/>


{% endblock custom_css_js %}

{% block meta_desc %}{% endblock meta_desc %}

{% block base_content %}
{% comment %} <div class="mb-5 py-2 rounded-lg text-center bg-primary-light text-primary">{% now "DATE_FORMAT" %}</div> {% endcomment %}

<div class="md:mx-48 grid gap-4">
    
    <div class="my-4">
        <blockquote>
            <h1 class=" bg-gradient-to-r from-pink-500 to-violet-600 bg-clip-text text-transparent text-lg md:text-2xl font-bold border-2 rounded-lg p-6">{{object_list}}</h1>
        </blockquote>
    </div>      

    <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
    {% for each in extra_quotes %}

    <div class="card">
        <a href="https://kmcdn.kirmola.dev/{{ each.quote_id }}-1.png" data-fancybox="gallery">
            <img class="rounded-t card-image" loading="lazy" src="https://kmcdn.kirmola.dev/{{ each.quote_id }}-1.png" alt=""> 
        </a>
        <div class="card-header">
            <a class="font-semibold text-xl" href="{% url "Topic_detail" topic_name=each.topics %}">"{{each.topics__topic}}" Featured Quote</a>
        </div>
        <div class="card-body md:text-xl">
            <blockquote><a href="{% url "Quote_detail" quote_url=each.quote_id %}">
                {{each.quote}}</a></blockquote></div>
                <div class="card-footer"><a href="{% url "Author_detail" author_name=each.author %}" class="btn btn-sm btn-link">{{each.author__author}}</a></div>
            </div>
            
            {% endfor %}
        </div>
        </div>


        <script>
            Fancybox.bind("[data-fancybox]", {
               hideScrollbar: true,
               Toolbar: {
                  display: {
                    left: ["infobar"],
                    middle: [],
                    right: ["slideshow", "download", "thumbs", "close"],
                  },
                },
            });
            
          </script>
         
{% endblock base_content %}